<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!-- Change values and rename this file > api_key.xml -->
    <!-- Api strava key to change -->
    <string name="strava_key">PUT_STRAVA_API_KEY</string>

    <!-- client key strava to change -->
    <integer name="strava_id">0000</integer>
</resources>